.DS_Store
p5js/02_KNNImageClassification_MultipleImages/
p5js/00_ImageClassification_MultipleImages/images/landscapes_small
p5js/00_ImageClassification_MultipleImages/images/dataset
p5js/00_ImageClassification_MultipleImages/images/old